<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.opitz" />


    <bean name="/login" scope="prototype" autowire="byName"
          class="com.opitz.action.UserAction"/>

    <bean name="/loginSubmit" scope="prototype" autowire="byName"
          class="com.opitz.action.UserAction"/>

    <bean name="/signUp" scope="prototype" autowire="byName"
          class="com.opitz.action.UserAction"/>

    <bean name="/saveUser" scope="prototype" autowire="byName"
          class="com.opitz.action.UserAction"/>

    <bean name="/addClaimSubmit" scope="prototype" autowire="byName"
        class="com.opitz.action.ClaimAction"/>

    <bean name="/allClaims" scope="prototype" autowire="byName"
          class="com.opitz.action.ClaimAction"/>

    <bean name="/approveClaim" scope="prototype" autowire="byName"
          class="com.opitz.action.UpdateClaimAction"/>

    <bean name="/rejectClaim" scope="prototype" autowire="byName"
          class="com.opitz.action.UpdateClaimAction"/>


    <!--
        <bean name="claimService" class="com.opitz.service.ClaimServiceImpl">
            <property name="claimRepository" ref="inMemoryClaimRepository" />
            <property name="userRepository" ref="inMemoryUserRepository" />
        </bean>-->
    <!--<bean name="inMemoryClaimRepository" class="com.opitz.repository.InMemoryClaimRepository" />-->
    <!--<bean name="inMemoryUserRepository" class="com.opitz.repository.InMemoryUserRepository" />-->

    <!--<bean name="claimConverter" class="com.opitz.utility.ClaimConverter" />-->

</beans>